SNOWFLAKE_ACCOUNT=xxxxx-xxxxx
SNOWFLAKE_USER=
SNOWFLAKE_PASSWORD=
SNOWFLAKE_ROLE=SYSADMIN
SNOWFLAKE_DATABASE=SF_URBAN_HEALTH
SNOWFLAKE_WAREHOUSE=COMPUTE_WH

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-west-2
AWS_S3_BUCKET=sf-urban-health

DATASF_APP_TOKEN=

LOCAL_DATA_DIR=./data
